// standard resets
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// sets font size to 62.5 - allows proper sizing using rems
html {
  font-size: 62.5%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;

  box-sizing: border-box;
}
