// Variables
$color-primary: #55679c;
$color-primary-light: #7c93c3;
$color-primary-dark: #1e2a5e;
$color-light: #e1d7b7;

$color-secondary: #474e68;
$color-secondary-light: #50577a;
$color-secondary-dark: #404258;
$color-tertiary: #6b728e;

// TODO - setup gray scale color variables

$color-black: #000000;
$color-white: #ffffff;
